        *{
            scroll-behavior: smooth;
        }
        body {
            margin: 0%;
            font-family: Arial, Helvetica, sans-serif;
            background-image: repeating-linear-gradient(black, rgb(7, 7, 50));
            color: antiquewhite;
            
            
        }

        /* Header styles */
        .header {
            background-color: #081b29;
            height: 70px;
            text-align: center;
        }

        .nav-link {
            margin: 0 2rem;
            color: rgb(255, 255, 255);
            font-size: 1.5rem;
            text-decoration: none;
            transition: .3s;
            opacity: 0;
            animation: slideTop .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
            display: inline-block;
        }

        .nav-link:hover {
            color: aqua;
        }

        /* Button styles */
        .btn {
            margin-top: 10px;   
            margin-left: 400px;
            padding: 10px 20px;
            background-color: aqua;
            color: black;
            border: none;
            border-radius: 30px; /* Adjust the border radius to control the capsule shape */
            font-size: 30px;
            cursor: pointer;
            opacity: 0;
            transition: background-color 0.9s ease; /* Smooth transition for background color change */
            animation: slideLeft .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
        }

        .btn:hover {
            background-color: lightblue;
        }
        .cv{
            margin-top: 10px;
            padding: 10px 20px;
            background-color: aqua;
            color: black;
            border: none;
            border-radius: 30px;
            font-size: 15px;
            cursor: pointer;
            transition: background-color 0.9s ease;
            opacity: 0;
            animation: slideBottom .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
        }

        .cv:hover {
            background-color: lightblue;
        }

        /* Main content styles */
        .content {
            display: flex;
            margin-top: 0;
            margin-left: 3rem;
            height: 1000px;
        }

        .content img {
            width: 1000px;
            height: 700px;
        }

        .content-text {
            margin-left: 5rem;
            margin-top: 8rem;
            font-size: 2rem;
            
        }
        .content-text h1{
            opacity: 0;
            animation: slideLeft .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
            font-size: 4rem;
            display: flex;
        }
        .js{
            opacity: 0;
            animation: slideRight .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
            
        }
        

        .content-text p {
            font-size: 1.5rem;
            opacity: 0;
            animation: slideTop .5s ease forwards;
            animation-delay: calc(.2s * var(--i));
        }

     
        .info {
            margin-right: 10rem;
            text-align: justify;
        }

        .links {
            display: flex;
            align-items: center; /* Align items vertically */
           
        }

        .links a {
            margin-right: 20px;
            opacity: 0;
            animation: slideLeft 1s ease forwards;
            animation-delay: calc(.2s * var(--i));
        }

        .links a img {
            height: 40px;
            width: 40px;
           
        }
        #element{
            font-size: 2rem;
        }









        @keyframes slideRight{
            0% { 
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }
        
@keyframes slideLeft{
    0% { 
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% { 
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% { 
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.about{
    
        
        margin-top: 0;
        margin-left: 3rem;
        height: 500px;
    
}

.about_head{
    margin-left: 13rem;
    font-size: 2rem;
}
.about_content{
    font-size: 1.24rem;
    margin-left: 3rem;
    width: 1000px;
    justify-content: center;
}








/*skills*/
.skills{
    height: 170VH;
    
}
.skills_head{
    
    display: flex;
    justify-content: center; /* This aligns all items to the right */

    font-size: 2rem;
}



.skills_content {
    margin-left: 3rem;
    display: flex;
    height: 50VH;

}
.lang-img{
    height: 100px;
    
    position: relative;
        display: inline-block;
        margin: 10px;
     
}
.lang-img:hover .text{
    display: block;
   


}

.text {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    align-items: right;
    padding: 10px;
    border-radius: 5px;
    
}



/*certifications*/
.certifications{
    height:100vh;
}
.certifications-head{
    font-size: 2rem;
    justify-content: center;
    display: flex;
}
.galary{
    width: 300px;
    height: 300px;
    display: flex;
    gap: 30px;
    padding:6rem;
    padding-top: 1rem;
    padding-left: 2rem;
    justify-content: center;
    margin-left: 35rem;
}
.galary img{
    width: 100px;
    height: 100px;
    
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease 1s;
    cursor: pointer;
    
}
.galary img:hover{
    width:400px;
    height: 300px;
    
   
}



/*projects */
.projects{
    height:100vh;

}
.projects-head{
    font-size: 2rem;
    justify-content: center;
    display: flex;
}
.projects-content{
    display:flex;
}

/*contact*/

.contact{
    height: 100vh;
}
.contact-head{
    font-size: 2rem;
    justify-content: center;
    display: flex;
}
.contact-list{
font-size: 1rem;

}
.contact-list a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.25rem;
}
.flex{
    display: flex;
}
.linnks{
    
   display:flex;
    justify-content: left;
}
.linnks img{
    height:50px;
    width: 50px;
}
.linnks img:hover{
    height:60px;
    width: 60px;
}
.contact-form form{
    position: relative;
    width: 500px;
    margin-left: 40rem;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: rgb(4, 88, 94);
    border-radius: 40px;
    font-size: 18px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    background: rgb(42, 228, 228);
    color: #002845;
    box-shadow: 0 0 20px #0ef;
}